DataTranslation/Service References/DataExchange/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataExchangeSolution" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataExchangeSolution" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Service.TranslationInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="InputFormat" type="tns:Service.DataFormat" />
      <xs:element minOccurs="0" name="OutputFormat" type="tns:Service.DataFormat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service.TranslationInfo" nillable="true" type="tns:Service.TranslationInfo" />
  <xs:simpleType name="Service.DataFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IFC">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gbXML">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RVT">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IDF">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Service.DataFormat" nillable="true" type="tns:Service.DataFormat" />
  <xs:complexType name="Service.TranslationResult">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Succeeded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service.TranslationResult" nillable="true" type="tns:Service.TranslationResult" />
  <xs:complexType name="Service.SimulationInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ModelFormat" type="tns:Service.DataFormat" />
      <xs:element minOccurs="0" name="Type" type="tns:Service.SimulationType" />
      <xs:element minOccurs="0" name="WeatherData" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service.SimulationInfo" nillable="true" type="tns:Service.SimulationInfo" />
  <xs:simpleType name="Service.SimulationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Energetic">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Service.SimulationType" nillable="true" type="tns:Service.SimulationType" />
  <xs:complexType name="Service.SimulationResult">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Succeeded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service.SimulationResult" nillable="true" type="tns:Service.SimulationResult" />
</xs:schema>