DataTranslation/Service References/DataExchange/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataExchangeSolution" />
  <xs:element name="translate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataExchangeSolution" minOccurs="0" name="info" type="q1:Service.TranslationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="translateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataExchangeSolution" minOccurs="0" name="translateResult" type="q2:Service.TranslationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="simulate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataExchangeSolution" minOccurs="0" name="info" type="q3:Service.SimulationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="simulateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataExchangeSolution" minOccurs="0" name="simulateResult" type="q4:Service.SimulationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>